.item-container {
  display: flex;
  background-color: aliceblue;
  border-radius: 9px;
  border-width: 2px;
  border-style: groove;
  box-shadow: black;
  margin: 10px;
  justify-content: space-between;
  list-style: none;
  min-width: 80%;
  margin-right: 40px;
}

.button-card {
  background-color: greenyellow;
  border-radius: 25px;
  border-width: 0px;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  margin: 10px;
  height: 30px;
}
.btn {
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  font-weight: 600;
  border-width: 0px;
  font-size: 20px;
}
.count {
  font-size: 20px;
  font-weight: bold;
  color: brown;
}
.dish-name {
  font-weight: 500;
  font-size: 22px;
}
.item-details {
  margin: 10px;
  width: 300px;
}
.currency-type {
  color: brown;
  font-weight: 500;
}

.price {
  color: black;
}
.description {
  font-family: Arial, Helvetica, sans-serif;
}

.image-card {
  display: flex;
  align-items: center;
}
.image {
  height: 150px;
  width: 200px;
  margin-right: 13px;
}
.calories {
  color: orange;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Roboto';
  padding-right: 30px;
}

@media (max-width: 426px) {
  .image-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image {
    height: 80px;
    width: 80px;
  }
  .description {
    font-size: 14px;
  }
  .item-container {
    width: 90%;
  }
}

@media (width: 768px) {
  .image {
    width: 120px;
    height: 150px;
    margin-right: 10px;
  }
}

.not-available {
  color: red;
  font-weight: 500;
}

.customize {
  color: blue;
  font-weight: 500;
}
